.editor--overflow-auto {
  overflow: auto;
}
.previewer--min-height {
  min-height: 9em;
}
.logo--size {
  width: 30px;
  height: 20px;
}
.box--fullscreen > div > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw !important;
  padding: 20px;
}
.box--fullscreen > div > div textarea, .box--fullscreen > div > div div#preview {
  height: 80vh !important;
}
